.grid-container {
    width: 665px;
    height: 665px;
}

.clueNumber {
    margin-top: 0px;
    text-align: left;
    font-size: 0.5em;
    font-weight: bold;
}

input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0%;
    left: -4%;
    border: none;
    font-size: 2em;
    color: black;
    text-align: center;
    text-transform: capitalize;
    outline: none;
}

.clueText {
    background-color: dodgerblue;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}