#root {
    background-color: white;
    color: black;
}

.crossword-container {
    display: flex;
}

.grid-container {
    width: 550px;
    height: 550px;
    background-color: black;
}

.clueNumber {
    margin-top: 0px;
    text-align: left;
    font-size: 0.5em;
    font-weight: bold;
}

input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0%;
    left: -5%;
    border: none;
    font-size: 1.75em;
    color: black;
    text-align: center;
    text-transform: capitalize;
    outline: none;
}

.clueText {
    background-color: lightskyblue;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

.clue-sidebar {
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.clue-list {
    width: 250px;
}

.clue-list-heading {
    height: 75px;
}

.clue-list-body {
    height: 525px;
    overflow-y: scroll;
}

.byText {
    text-align: center;
}