.grid-container > label {
    height: 35px;
}

.clueNumber {
    margin-top: 0px;
    text-align: left;
    font-size: 0.5em;
    font-weight: bold;
}

input {
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 3px;
    border: none;
    font-size: 2em;
    color: black;
    text-align: center;
    text-transform: capitalize;
    outline: none;
}

.clueText {
    background-color: dodgerblue;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}